.spinner{
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite ;
    border-radius: 50%;
}

.purple{
    border: 5px solid rgb(199, 53, 199);
    border-top-color: purple;
}

.green{
    border: 5px solid rgb(111, 167, 29);
    border-top-color: green;
}

.gold{
    border: 5px solid rgb(235, 217, 114);
    border-top-color: goldenrod;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}